.page {
  background-color: blue;
  color: white;
  padding: 20px;
  height: 100vh;
  width: 100vw;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.about {
  background-color: rgba(251, 251, 251, 0.227);
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 20px auto;
  width: 80vh;
  height: 30vh;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1, h2 {
  text-align: center;
  margin-top: 20px;
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  padding: 70px;

  
}

.team-member {
  background-color: rgba(251, 251, 251, 0.227);
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 200px;
  text-align: center;
}

.team-member h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.socials a {
  display: block;
  color: white;
  text-decoration: none;
  margin: 5px 0;
  transition: color 0.3s;
}

.socials a:hover {
  color: yellow;
}